.DS_Store

.idea
.vscode
.zed

tmp/
dist/
target/
node_modules/
logs/
/core/gen/schemas

/*.png
/*.jpg
/*.xyz
/*.log
/*.cube
/*.mol

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
