.DS_Store
.idea

tmp/
dist/
target/
node_modules/
logs/
/src-tauri/gen/schemas

/*.png
/*.jpg
/*.xyz
/*.log
/*.cube
/*.mol

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
